In [1]:
!pip install country_converter

Requirement already satisfied: country_converter in c:\users\ghaza\anaconda3\lib\site-packages (1.3.2)
Requirement already satisfied: pandas>=1.0 in c:\users\ghaza\anaconda3\lib\site-packages (from country_converter) (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ghaza\anaconda3\lib\site-packages (from pandas>=1.0->country_converter) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ghaza\anaconda3\lib\site-packages (from pandas>=1.0->country_converter) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ghaza\anaconda3\lib\site-packages (from pandas>=1.0->country_converter) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ghaza\anaconda3\lib\site-packages (from pandas>=1.0->country_converter) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\ghaza\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0->country_converter) (1.17.0)

In [2]:
import pandas as pd
import country_converter as coco

In [3]:
df1 = pd.read_csv("happiness.csv")   
df2 = pd.read_csv("economy.csv")

In [4]:
df1["country"] = df1["country"].replace({
    "D.R. of the Congo": "Democratic Republic of the Congo",
    "DR Congo": "Democratic Republic of the Congo",
    "Congo (Kinshasa)": "Democratic Republic of the Congo"
})

df2["country"] = df2["country"].replace({
    "D.R. of the Congo": "Democratic Republic of the Congo",
    "DR Congo": "Democratic Republic of the Congo",
    "Congo (Kinshasa)": "Democratic Republic of the Congo"
})

# Then convert using coco
df1["country_clean"] = coco.convert(names=df1["country"], to="name_short")
df2["country_clean"] = coco.convert(names=df2["country"], to="name_short")

In [5]:
print(df1[["country", "country_clean"]].head())
print(df2[["country", "country_clean"]].head())

       country country_clean
0      Finland       Finland
1      Denmark       Denmark
2       Norway        Norway
3      Iceland       Iceland
4  Netherlands   Netherlands
                country         country_clean
0                 Aruba                 Aruba
1                Angola                Angola
2              Anguilla              Anguilla
3               Albania               Albania
4  United Arab Emirates  United Arab Emirates

In [6]:
merged = df1.merge(df2, on="country_clean", how="inner")

In [7]:
merged.head()

,Overall rank,country_x,Score,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,country_clean,country_y,population(mil.),av_Working_h,human_capital_index,GDP_per_capita,real_consumption_per_capita
0,1,Finland,7.769,1.587,0.986,0.596,0.153,0.393,Finland,Finland,5.522,1536,3.50,52806.07,38549.80
1,2,Denmark,7.600,1.573,0.996,0.592,0.252,0.410,Denmark,Denmark,5.815,1372,3.60,62121.25,40287.65
2,3,Norway,7.554,1.582,1.028,0.603,0.271,0.341,Norway,Norway,5.348,1419,3.66,96299.18,46840.73
3,4,Iceland,7.494,1.624,1.026,0.591,0.354,0.118,Iceland,Iceland,0.361,1480,3.19,59432.66,43063.99
4,5,Netherlands,7.488,1.522,0.999,0.557,0.322,0.298,Netherlands,Netherlands,17.538,1457,3.40,67064.00,40384.23

In [9]:
df1.to_csv("happiness_cleaned.csv", index=False)
df2.to_csv("economy_cleaned.csv", index=False)

In [10]:
merged.to_csv("merged_cleaned.csv", index=False)

In [12]:
df1.to_pickle("happiness_cleaned.ipynb")
df2.to_pickle("economy_cleaned.ipynb")