In [1]:
import pandas as pd
df = pd.read_excel("GDP_dataset.xlsx", sheet_name="Data")
df

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,...,csh_x,csh_m,csh_r,pl_c,pl_i,pl_g,pl_x,pl_m,pl_n,pl_k
0,ABW,Aruba,Aruban Guilder,1950,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,Aruban Guilder,1951,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,Aruban Guilder,1952,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,Aruban Guilder,1953,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,Aruban Guilder,1954,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13685,ZWE,Zimbabwe,US Dollar,2019,46541.140625,45106.468750,15.271368,5.272343,1903.71,2.713408,...,0.189066,-0.242234,0.038880,0.501244,0.534841,0.345942,0.505318,0.441230,0.339268,1.346716
13686,ZWE,Zimbabwe,US Dollar,2020,45985.085938,45983.898438,15.526888,5.206007,1889.45,2.746586,...,0.110438,-0.165574,0.029654,0.500685,0.519637,0.290690,0.772591,0.680202,0.324105,1.353769
13687,ZWE,Zimbabwe,US Dollar,2021,45625.347656,44440.199219,15.797210,5.298346,2011.57,2.770661,...,0.172298,-0.279770,0.024442,0.616105,0.549380,0.301370,0.558099,0.497615,0.347739,1.064607
13688,ZWE,Zimbabwe,US Dollar,2022,50148.527344,48054.238281,16.069056,5.344455,2172.04,2.795292,...,0.220504,-0.391468,0.021712,0.660731,0.478931,0.280778,0.487665,0.432867,0.301817,1.006796
13689,ZWE,Zimbabwe,US Dollar,2023,52258.898438,50540.847656,16.340822,5.504774,2311.02,2.820498,...,0.179567,-0.308382,0.015704,0.736836,0.507688,0.307323,0.505070,0.474047,0.308811,1.030187

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13690 entries, 0 to 13689
Data columns (total 51 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   countrycode    13690 non-null  object
 1   country        13690 non-null  object
 2   currency_unit  13690 non-null  object
 3   year           13690 non-null  int64
 4   rgdpe          11201 non-null  float64
 5   rgdpo          11201 non-null  float64
 6   pop            11201 non-null  float64
 7   emp            10307 non-null  float64
 8   avh            5015 non-null   float64
 9   hc             9217 non-null   float64
 10  ccon           11201 non-null  float64
 11  cda            11201 non-null  float64
 12  cgdpe          11201 non-null  float64
 13  cgdpo          11201 non-null  float64
 14  cn             11028 non-null  float64
 15  ck             7747 non-null   float64
 16  ctfp           6988 non-null   float64
 17  cwtfp          6988 non-null   float64
 18  rgdpna         11201 non-null  float64
 19  rconna         11201 non-null  float64
 20  rdana          11201 non-null  float64
 21  rnna           11028 non-null  float64
 22  rkna           7747 non-null   float64
 23  rtfpna         6988 non-null   float64
 24  rwtfpna        6988 non-null   float64
 25  labsh          8215 non-null   float64
 26  irr            8201 non-null   float64
 27  delta          11028 non-null  float64
 28  xr             11201 non-null  float64
 29  pl_con         11201 non-null  float64
 30  pl_da          11201 non-null  float64
 31  pl_gdpo        11201 non-null  float64
 32  i_cig          11201 non-null  object
 33  i_xm           11201 non-null  object
 34  i_xr           11201 non-null  object
 35  i_outlier      11201 non-null  object
 36  i_irr          8201 non-null   object
 37  cor_exp        2112 non-null   float64
 38  csh_c          11201 non-null  float64
 39  csh_i          11201 non-null  float64
 40  csh_g          11201 non-null  float64
 41  csh_x          11201 non-null  float64
 42  csh_m          11201 non-null  float64
 43  csh_r          11201 non-null  float64
 44  pl_c           11201 non-null  float64
 45  pl_i           11201 non-null  float64
 46  pl_g           11201 non-null  float64
 47  pl_x           11201 non-null  float64
 48  pl_m           11201 non-null  float64
 49  pl_n           11028 non-null  float64
 50  pl_k           7747 non-null   float64
dtypes: float64(42), int64(1), object(8)
memory usage: 5.3+ MB

In [3]:
df.shape

(13690, 51)

In [4]:
df_2019 = df[df["year"] == 2019]
df_2019

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,...,csh_x,csh_m,csh_r,pl_c,pl_i,pl_g,pl_x,pl_m,pl_n,pl_k
69,ABW,Aruba,Aruban Guilder,2019,4.528702e+03,3.887474e+03,0.107076,0.048240,NaN,NaN,...,1.051204,-1.225179,1.339147e-16,0.810300,0.782007,0.644114,0.628230,0.530737,0.718024,0.636346
143,AGO,Angola,Kwanza,2019,2.569332e+05,2.462245e+05,32.375632,14.692121,2103.92,1.481984,...,0.369344,-0.122939,-7.181355e-02,0.369729,0.345773,0.178713,0.395547,0.302326,0.204339,0.390983
217,AIA,Anguilla,East Caribbean Dollar,2019,5.053046e+02,3.279528e+02,0.014823,NaN,NaN,NaN,...,1.237481,-2.197887,3.244772e-06,0.833104,0.747541,0.511970,0.665676,0.525507,0.607047,NaN
291,ALB,Albania,Lek,2019,4.074775e+04,4.083814e+04,2.885010,1.161209,2142.84,2.989799,...,0.125750,-0.317785,5.799897e-02,0.424049,0.402066,0.209985,0.565680,0.463703,0.264565,0.277411
365,ARE,United Arab Emirates,UAE Dirham,2019,7.704509e+05,7.793092e+05,9.377847,6.063972,2706.89,3.238972,...,0.876814,-0.650066,-5.062157e-03,0.605921,0.428334,0.681697,0.590327,0.589752,0.265805,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13389,VNM,Viet Nam,Dong,2019,1.118330e+06,1.098332e+06,97.173776,54.573971,2067.56,2.601556,...,0.397546,-0.384272,-1.726924e-02,0.304554,0.335868,0.209987,0.610400,0.604834,0.203031,NaN
13463,YEM,Yemen,Yemeni Rial,2019,4.325812e+04,3.989770e+04,35.111408,6.657489,1539.70,1.842989,...,0.002330,-0.446109,3.413758e-02,0.491019,0.167402,0.102216,0.254678,0.263800,0.118830,NaN
13537,ZAF,South Africa,Rand,2019,8.598125e+05,8.462075e+05,59.587885,18.642727,2206.86,2.768339,...,0.183690,-0.200485,1.573286e-03,0.449019,0.463593,0.474888,0.581871,0.525023,0.285624,0.572531
13611,ZMB,Zambia,Kwacha,2019,6.191568e+04,6.154421e+04,18.513839,5.215652,2110.57,2.686845,...,0.223154,-0.248115,1.631197e-02,0.344624,0.487221,0.303926,0.521521,0.481866,0.296555,0.429433
13685,ZWE,Zimbabwe,US Dollar,2019,4.654114e+04,4.510647e+04,15.271368,5.272343,1903.71,2.713408,...,0.189066,-0.242234,3.887962e-02,0.501244,0.534841,0.345942,0.505318,0.441230,0.339268,1.346716

In [5]:
economy = df_2019[["country", "pop", "rgdpna", "avh", "hc", "ccon"]]
economy

,country,pop,rgdpna,avh,hc,ccon
69,Aruba,0.107076,4.395812e+03,NaN,NaN,3446.536865
143,Angola,32.375632,2.255876e+05,2103.92,1.481984,152289.093750
217,Anguilla,0.014823,3.420317e+02,NaN,NaN,543.940491
291,Albania,2.885010,4.016196e+04,2142.84,2.989799,37379.433594
365,United Arab Emirates,9.377847,7.168934e+05,2706.89,3.238972,350611.218750
...,...,...,...,...,...,...
13389,Viet Nam,97.173776,1.154853e+06,2067.56,2.601556,776432.625000
13463,Yemen,35.111408,3.523451e+04,1539.70,1.842989,41772.109375
13537,South Africa,59.587885,7.926033e+05,2206.86,2.768339,716252.812500
13611,Zambia,18.513839,5.961215e+04,2110.57,2.686845,42137.468750
13685,Zimbabwe,15.271368,4.444503e+04,1903.71,2.713408,39602.753906

In [6]:
economy = economy.reset_index(drop=True)
economy

,country,pop,rgdpna,avh,hc,ccon
0,Aruba,0.107076,4.395812e+03,NaN,NaN,3446.536865
1,Angola,32.375632,2.255876e+05,2103.92,1.481984,152289.093750
2,Anguilla,0.014823,3.420317e+02,NaN,NaN,543.940491
3,Albania,2.885010,4.016196e+04,2142.84,2.989799,37379.433594
4,United Arab Emirates,9.377847,7.168934e+05,2706.89,3.238972,350611.218750
...,...,...,...,...,...,...
180,Viet Nam,97.173776,1.154853e+06,2067.56,2.601556,776432.625000
181,Yemen,35.111408,3.523451e+04,1539.70,1.842989,41772.109375
182,South Africa,59.587885,7.926033e+05,2206.86,2.768339,716252.812500
183,Zambia,18.513839,5.961215e+04,2110.57,2.686845,42137.468750
184,Zimbabwe,15.271368,4.444503e+04,1903.71,2.713408,39602.753906

In [7]:
#Real GDP at constant 2021 national prices = the size of a country’s economy measured in inflation-adjusted 2021 US dollars, making it possible to compare economic performance across years without price changes interfering.

#Real consumption of households and government, at current PPPs (in mil. 2021US$) = This variable measures how much people + the government actually spend, adjusted so you can compare it fairly across countries.

#The Human Capital Index (hc) measures: How much the average worker’s education increases their productivity, based on: years of schooling return on education (how much extra income education brings). The value is usually between 1.0 and 4.0.

In [8]:
economy = economy.rename(columns={
    "pop": "population(mil.)",
    "rgdpna": "GDP(mil./$)",
    "avh": "av_Working_h",
    "hc": "human_capital_index",
    "ccon": "real_consumption(mil./$)"
})
economy

,country,population(mil.),GDP(mil./$),av_Working_h,human_capital_index,real_consumption(mil./$)
0,Aruba,0.107076,4.395812e+03,NaN,NaN,3446.536865
1,Angola,32.375632,2.255876e+05,2103.92,1.481984,152289.093750
2,Anguilla,0.014823,3.420317e+02,NaN,NaN,543.940491
3,Albania,2.885010,4.016196e+04,2142.84,2.989799,37379.433594
4,United Arab Emirates,9.377847,7.168934e+05,2706.89,3.238972,350611.218750
...,...,...,...,...,...,...
180,Viet Nam,97.173776,1.154853e+06,2067.56,2.601556,776432.625000
181,Yemen,35.111408,3.523451e+04,1539.70,1.842989,41772.109375
182,South Africa,59.587885,7.926033e+05,2206.86,2.768339,716252.812500
183,Zambia,18.513839,5.961215e+04,2110.57,2.686845,42137.468750
184,Zimbabwe,15.271368,4.444503e+04,1903.71,2.713408,39602.753906

In [9]:
columns = ["population(mil.)", "av_Working_h", "human_capital_index", "real_consumption(mil./$)"]
economy["population(mil.)"] = economy["population(mil.)"].round(3)
economy["GDP(mil./$)"] = economy["GDP(mil./$)"].astype(float)
economy["GDP(mil./$)"] = economy["GDP(mil./$)"].round(2)
economy["av_Working_h"] = economy["av_Working_h"].round(0)
economy["human_capital_index"] = economy["human_capital_index"].round(2)
economy["real_consumption(mil./$)"] = economy["real_consumption(mil./$)"].round(1)
economy

,country,population(mil.),GDP(mil./$),av_Working_h,human_capital_index,real_consumption(mil./$)
0,Aruba,0.107,4395.81,NaN,NaN,3446.5
1,Angola,32.376,225587.61,2104.0,1.48,152289.1
2,Anguilla,0.015,342.03,NaN,NaN,543.9
3,Albania,2.885,40161.96,2143.0,2.99,37379.4
4,United Arab Emirates,9.378,716893.44,2707.0,3.24,350611.2
...,...,...,...,...,...,...
180,Viet Nam,97.174,1154852.75,2068.0,2.60,776432.6
181,Yemen,35.111,35234.51,1540.0,1.84,41772.1
182,South Africa,59.588,792603.31,2207.0,2.77,716252.8
183,Zambia,18.514,59612.15,2111.0,2.69,42137.5
184,Zimbabwe,15.271,44445.03,1904.0,2.71,39602.8

In [10]:
#Cleaning

In [11]:
economy.isnull().sum()

country                      0
population(mil.)             0
GDP(mil./$)                  0
av_Working_h                55
human_capital_index         40
real_consumption(mil./$)     0
dtype: int64

In [12]:
#Filling missing values with mean
economy["av_Working_h"] = economy["av_Working_h"].fillna(
    economy["av_Working_h"].mean()
)

economy["human_capital_index"] = economy["human_capital_index"].fillna(
    economy["human_capital_index"].mean()
)
economy

,country,population(mil.),GDP(mil./$),av_Working_h,human_capital_index,real_consumption(mil./$)
0,Aruba,0.107,4395.81,1947.3,2.692207,3446.5
1,Angola,32.376,225587.61,2104.0,1.480000,152289.1
2,Anguilla,0.015,342.03,1947.3,2.692207,543.9
3,Albania,2.885,40161.96,2143.0,2.990000,37379.4
4,United Arab Emirates,9.378,716893.44,2707.0,3.240000,350611.2
...,...,...,...,...,...,...
180,Viet Nam,97.174,1154852.75,2068.0,2.600000,776432.6
181,Yemen,35.111,35234.51,1540.0,1.840000,41772.1
182,South Africa,59.588,792603.31,2207.0,2.770000,716252.8
183,Zambia,18.514,59612.15,2111.0,2.690000,42137.5
184,Zimbabwe,15.271,44445.03,1904.0,2.710000,39602.8

In [13]:
economy.dtypes

country                      object
population(mil.)            float64
GDP(mil./$)                 float64
av_Working_h                float64
human_capital_index         float64
real_consumption(mil./$)    float64
dtype: object

In [14]:
economy["av_Working_h"] = economy["av_Working_h"].astype(int)
economy["human_capital_index"] = economy["human_capital_index"].round(2)
economy

,country,population(mil.),GDP(mil./$),av_Working_h,human_capital_index,real_consumption(mil./$)
0,Aruba,0.107,4395.81,1947,2.69,3446.5
1,Angola,32.376,225587.61,2104,1.48,152289.1
2,Anguilla,0.015,342.03,1947,2.69,543.9
3,Albania,2.885,40161.96,2143,2.99,37379.4
4,United Arab Emirates,9.378,716893.44,2707,3.24,350611.2
...,...,...,...,...,...,...
180,Viet Nam,97.174,1154852.75,2068,2.60,776432.6
181,Yemen,35.111,35234.51,1540,1.84,41772.1
182,South Africa,59.588,792603.31,2207,2.77,716252.8
183,Zambia,18.514,59612.15,2111,2.69,42137.5
184,Zimbabwe,15.271,44445.03,1904,2.71,39602.8

In [15]:
#Check for outliers
economy[economy["population(mil.)"] <= 0]

Empty DataFrame
Columns: [country, population(mil.), GDP(mil./$), av_Working_h, human_capital_index, real_consumption(mil./$)]
Index: []

In [16]:
economy.dtypes

country                      object
population(mil.)            float64
GDP(mil./$)                 float64
av_Working_h                  int64
human_capital_index         float64
real_consumption(mil./$)    float64
dtype: object

In [17]:
economy = economy.copy()
# GDP per capita
economy["GDP_per_capita"] = (
    economy["GDP(mil./$)"] / economy["population(mil.)"]
)

# Consumption per capita
economy["real_consumption_per_capita"] = (
    economy["real_consumption(mil./$)"] / economy["population(mil.)"]
)
economy

,country,population(mil.),GDP(mil./$),av_Working_h,human_capital_index,real_consumption(mil./$),GDP_per_capita,real_consumption_per_capita
0,Aruba,0.107,4395.81,1947,2.69,3446.5,41082.336449,32210.280374
1,Angola,32.376,225587.61,2104,1.48,152289.1,6967.741846,4703.765135
2,Anguilla,0.015,342.03,1947,2.69,543.9,22802.000000,36260.000000
3,Albania,2.885,40161.96,2143,2.99,37379.4,13920.956672,12956.464471
4,United Arab Emirates,9.378,716893.44,2707,3.24,350611.2,76444.171465,37386.564299
...,...,...,...,...,...,...,...,...
180,Viet Nam,97.174,1154852.75,2068,2.60,776432.6,11884.380081,7990.126989
181,Yemen,35.111,35234.51,1540,1.84,41772.1,1003.517701,1189.715474
182,South Africa,59.588,792603.31,2207,2.77,716252.8,13301.391388,12020.084581
183,Zambia,18.514,59612.15,2111,2.69,42137.5,3219.841741,2275.980339
184,Zimbabwe,15.271,44445.03,1904,2.71,39602.8,2910.420405,2593.333770

In [18]:
economy["GDP_per_capita"] = economy["GDP_per_capita"].round(2)
economy["real_consumption_per_capita"] = economy["real_consumption_per_capita"].round(2)
economy

,country,population(mil.),GDP(mil./$),av_Working_h,human_capital_index,real_consumption(mil./$),GDP_per_capita,real_consumption_per_capita
0,Aruba,0.107,4395.81,1947,2.69,3446.5,41082.34,32210.28
1,Angola,32.376,225587.61,2104,1.48,152289.1,6967.74,4703.77
2,Anguilla,0.015,342.03,1947,2.69,543.9,22802.00,36260.00
3,Albania,2.885,40161.96,2143,2.99,37379.4,13920.96,12956.46
4,United Arab Emirates,9.378,716893.44,2707,3.24,350611.2,76444.17,37386.56
...,...,...,...,...,...,...,...,...
180,Viet Nam,97.174,1154852.75,2068,2.60,776432.6,11884.38,7990.13
181,Yemen,35.111,35234.51,1540,1.84,41772.1,1003.52,1189.72
182,South Africa,59.588,792603.31,2207,2.77,716252.8,13301.39,12020.08
183,Zambia,18.514,59612.15,2111,2.69,42137.5,3219.84,2275.98
184,Zimbabwe,15.271,44445.03,1904,2.71,39602.8,2910.42,2593.33

In [19]:
economy.columns

Index(['country', 'population(mil.)', 'GDP(mil./$)', 'av_Working_h',
       'human_capital_index', 'real_consumption(mil./$)', 'GDP_per_capita',
       'real_consumption_per_capita'],
      dtype='object')

In [20]:
economy

,country,population(mil.),GDP(mil./$),av_Working_h,human_capital_index,real_consumption(mil./$),GDP_per_capita,real_consumption_per_capita
0,Aruba,0.107,4395.81,1947,2.69,3446.5,41082.34,32210.28
1,Angola,32.376,225587.61,2104,1.48,152289.1,6967.74,4703.77
2,Anguilla,0.015,342.03,1947,2.69,543.9,22802.00,36260.00
3,Albania,2.885,40161.96,2143,2.99,37379.4,13920.96,12956.46
4,United Arab Emirates,9.378,716893.44,2707,3.24,350611.2,76444.17,37386.56
...,...,...,...,...,...,...,...,...
180,Viet Nam,97.174,1154852.75,2068,2.60,776432.6,11884.38,7990.13
181,Yemen,35.111,35234.51,1540,1.84,41772.1,1003.52,1189.72
182,South Africa,59.588,792603.31,2207,2.77,716252.8,13301.39,12020.08
183,Zambia,18.514,59612.15,2111,2.69,42137.5,3219.84,2275.98
184,Zimbabwe,15.271,44445.03,1904,2.71,39602.8,2910.42,2593.33

In [21]:
economy.columns

Index(['country', 'population(mil.)', 'GDP(mil./$)', 'av_Working_h',
       'human_capital_index', 'real_consumption(mil./$)', 'GDP_per_capita',
       'real_consumption_per_capita'],
      dtype='object')

In [22]:
economy = economy.drop(columns=["GDP(mil./$)", "real_consumption(mil./$)"])

In [23]:
economy

,country,population(mil.),av_Working_h,human_capital_index,GDP_per_capita,real_consumption_per_capita
0,Aruba,0.107,1947,2.69,41082.34,32210.28
1,Angola,32.376,2104,1.48,6967.74,4703.77
2,Anguilla,0.015,1947,2.69,22802.00,36260.00
3,Albania,2.885,2143,2.99,13920.96,12956.46
4,United Arab Emirates,9.378,2707,3.24,76444.17,37386.56
...,...,...,...,...,...,...
180,Viet Nam,97.174,2068,2.60,11884.38,7990.13
181,Yemen,35.111,1540,1.84,1003.52,1189.72
182,South Africa,59.588,2207,2.77,13301.39,12020.08
183,Zambia,18.514,2111,2.69,3219.84,2275.98
184,Zimbabwe,15.271,1904,2.71,2910.42,2593.33

In [1]:
economy.dtypes

NameError: name 'economy' is not defined

In [24]:
economy.to_csv("economy_cleaned.csv", index=False)